---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
	
	console.log("Loaded posts:", posts.map(p => p.slug));

---
<BaseLayout title="My Blog">
  <h1>My Blog</h1>
  <ul>
    {posts.map(post => (
      <li>
        <a href={`/posts/${post.slug}/`}>{post.data.title}</a> — {post.data.date.toDateString()}
      </li>
    ))}
  </ul>
</BaseLayout>
